h1
{
     text-align: center;
    color:black;
    border-color: 5px;
}
p{
    text-align:center;
    color:rgb(175, 192, 21);
    background-color: rgb(100, 92, 92);
    border-color: 5px;
}
img{
    width: 30px
    height: 30px;
    border-color: 5px;
}
html{
    background-color:rgb(4, 114, 0);
}
